*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Utilities */

.primary{
    color: #f7c08a;
}

.btn-primary{
    padding: 12px;
    font-size: 1.3rem;
    background: #444;
    margin: 10px;
}

.btn-primary:hover{
    background: #f7c08a;
    color: #444;
}

.btn-secondary{
    padding: 12px;
    font-size: 1.3rem;
    color: #444;
    background: #fff;
    margin: 10px;
}

.btn-secondary:hover{
    background: #f7c08a;
}

.bg-primary{
    background: #f7c08a;
}

/* Navigation Menu */

nav{
    background: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav h1{
    letter-spacing: 3px;
}

nav h1 a{
    text-decoration: none;
    color: #fff;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    padding: 20px 30px;
}

nav ul li:hover{
    color: #f7c08a;
    background: #444;
}

nav ul .active{
    color: #f7c08a;
    background: #444;
}


/* Hero section */
#hero{
    background: url("./img/showcase.jpg") center no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#hero h1{
    font-size: 4rem;
    /* display: none; */
    margin: 10px;
    text-transform: capitalize;
}

#hero p{
    font-size: 1.4rem;
    margin: 5px;
}


/* secondary section */
.container{
    display: flex;
    /* height: 300px; */
    justify-content: center;
    align-items: center;
}

.container .feat-img{
    height: 500px;
    width: 100%;
    background: url("./img/photo-1.jpg") no-repeat;
}

.container .side-section{
    background: #444;
    color: #fff;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    width: 200vh;
}

.container .side-section h3{
    font-size: 2rem;
    text-transform: capitalize;
    margin: 10px;
}

.container .side-section .desc{
    font-size: 1rem;
}


/* Facilities */
.facilities{
    /* display: none; */
    display: flex;
    /* height: 250px; */
}

.facilities .child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    padding: 30px;
    /* height: 500px; */
}

.facilities .child i{
    font-size: 3.5rem;
    /* color: #333; */
    margin: 10px;
}

.facilities .child h3{
    font-size: 1.3rem;
}

.facilities .child p{
    text-align:center;
    margin: 30px 0;
}


/* Footer */
footer{
    background: #333;
    color: #fff;
}

footer .row-1{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

footer .row-2{
    text-align: center;
    padding: 10px;
}